<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        Welcome to {{ title }}!
      </h1>
      {{selected | json}}

      <div class="row">
          <ng-container [(selection)]="selected">
            <div class="col">
              <button (click)="hide = !hide">Toggle</button>
              <items-list *ngIf="!hide"></items-list>
            </div>
            <div class="col">
              <button (click)="hide2 = !hide2">Toggle</button>
              <items-list *ngIf="!hide2"></items-list>
            </div>
            <div class="col" selection>
              <button (click)="hide3 = !hide3">Toggle</button>
              <items-list *ngIf="!hide3"></items-list>
            </div>
          </ng-container>
      </div>
    </div>
  </div>
</div>